/* Reset default browser styles */
body, header, nav, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.heading{
  text-align: center;
}

body {
    overflow: auto;
    background-image: none;
    background-size: none;
    background: none;
    font-family: "Proxima";
    margin: 0 ! important;
    color: #212338;
}
